.content{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #282c34;
}
.sub-content{
  box-shadow:20px 20px 20px 20px rgba(15, 15, 16, 0.278) ;
  background-color: white;
  padding: 40px 50px 40px 50px;

}
.sub-content h1{
  color:rgb(0, 204, 255) ;
}
.formulario{
  width: 250px;
}
.formulario .input{
  width: 100%;
  height: 25px;
  display: block;
  border-style: none;
  border-bottom: 1px solid gray;
}
input:focus{
  outline: none;
}
.formulario .nombre{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  
}
.formulario .apellido{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}
.formulario .boton{
  width: 100%;
  height: 25px;
  display: block;
  margin-bottom: 10px;
  border-style: none;
  color: white;
  background-color:rgb(0, 204, 255);
}
.formulario .icono{
  position: absolute;
  right: 1rem;
}
#enviar{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  width: 100%;
  background-color: rgb(0, 204, 255);
  color: white;
  border-style: none;
}
.sub-content p{
  color: #282c34;
}
