.menu-h{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark);
    width: auto;
    color: var(--white);
}
.click{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.items-horizontal{
    display: flex;
    align-items: center;
    list-style: none;
}

.item-h{
    padding-left: 10px;
    padding-right: 10px;
}
.btn-menu{
    font-size: 20pt;
    color: var(--white);
}
